<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Resume</title>

  <!-- link the main css file -->
  <link rel="stylesheet" href="styles/styles.css" />

  <script type="module" src="scripts/app.js"></script>
</head>

<body>
  
     <!-- ai2html -->
     <section class="ai2html">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12" style="margin: 0; padding: 0">
              <!-- This is the line that matters for import -->
              <%- include('./ai2html-output/ai2html-test.ejs'); %>
            </div>
          </div>
        </div>
      </section>



  
    <main>
    <article>
        <div class="container mb-1">
          <div class="d-flex row align-items-end" >
            <div class="col-7">
             <img src="logo.svg" style="width: 15%"></img> <br><br> 
             
            </div>
            <div class="col-5">
             <h1> 
               ⚽ &nbsp; 📚 &nbsp; 🎧 &nbsp;🌓 &nbsp; ✉
            </h1>
             
            </div>
          </div>
        </div>
       
       
        <div class="container mb-5">
          <div class="d-flex row align-items-end" >
           <div class="col-6">
              <h1 class="display-4"><b>Kirti Vardhan Rathore</b></h1>
              <h3>Information and Visual Designer</h3>
           </div>
           
          <div class="col-1">
            
          </div>
  
           <div class="col-5">
              <p style="font-size: 20px;">  
              kirtivardhanrathore@gmail.com <br>
              +91-7340057794<br>
              <a href="http://thebrokenhash.com/" target="_blank">wwww.thebrokenhash.com</a>
              </p>
           </div>
          </div>
        </div>
           
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="d-flex align-items-center gap-3">
              <h3>👨‍💻</h3>
              <h5 style="color: #4d78ff">WORK EXPERIENCE</h5>
            </div>
              <h5>Hindustan Petroleum</h5>
              <h6>Apr 2018 - Sept 2020 | Public Relations Officer, Mumbai</h6>
              <p>
                Initiated the culture of in-house designing at one of the leading Public Sector Enterprise of the country which led to cost-cutting and reduced the turnaround time on creatives
              </p>
              
              <p>
                Designed brand collaterals including brand tagline which were used across the country at 15,000 plus petrol pumps and regional offices, plants and depots
              </p>
  
              <p>
                Conceptualized and Developed HP’s internal social media platform, HP Radar
              </p>
  
              <p>
                Developed the corporate identity manual for the iconic HP logo which was designed by Prof. Sudharshan Dheer 
              <br><br></p>
  
              <h5>Hindustan Petroleum</h5>
              <h6>Jul 2016 - Apr 2018 | Operations Officer, Ajmer LPG Plant</h6>
              <p>
                Led a logistics crew of 150 drivers and 600 workmen to ensure smooth bottling and delivery of 40,000 LPG cylinders daily
              </p>
              
              <p>
                Ensured smooth and safe functioning of the supply chain of an LPG bottling plant by developing SOPs and continuously training and nurturing the workforce
              <br><br></p>
  
              <h5>IDC School of Design, IIT Bombay</h5>
              <h6>Jun 2015 - Jul 2015 | Intern, Mumbai</h6>
              <p>
                Studied culture, customs and ritual and art form of Madhya Pradesh based Bhil Tribe  
              </p>
              
              <p>
                Conceptualized and developed UI for android game based on their belief in saving water and a local ritual, Gol Gadhera
              <br><br></p>
  
              <div class="d-flex align-items-center gap-3">
              <h3>📋</h3>
              <h5 style="color: #4d78ff">ROLES & RESPONSIBILITIES</h5>
            </div>
              <h5>Design Club, IIT Jodhpur</h5>
              
              <p>
                Founded and lead a team of 4 heads and 20 designers, conducted a series of workshops and training sessions
              <br></p>
  
              <h5>Framed - Art Exhibition, IIT Jodhpur</h5>
              <p>
                Initiated and Conceptualized the first-ever art exhibition of IIT Jodhpur, led a 3-tier team of 5 heads and 30 members; exhibited 132 artworks which attracted a footfall of 800+ spectators
              <br></p>
  
              <h5>Placement Cell, IIT Jodhpur</h5>
              <p>
                Contributed to administering end to end logistics and scheduling for 50 companies for 140 students
              <br></p>          
            </div>
  
            <div class="col-1">
            
            </div>
  
            <div class="col-5">
              <div class="d-flex align-items-center gap-3">
                <h3>🎓</h3>
                <h5 style="color: #4d78ff">EDUCATION</h5>                
              </div>
              
              <div class="d-flex align-items-center justify-content-between ap-3">
              <h5>National Institute of Design, Bangalore </h5>
              <h5 style="color: #868686; font-weight: normal;">  8.42/10</h5>
            </div>
              <p>  2020 - Present | Master of Design | Information Design </p>
  
              <div class="d-flex align-items-center justify-content-between ap-3">
              <h5>Indian Institute of Technology Jodhpur </h5>
              <h5 style="color: #868686; font-weight: normal;"> 7.64/10</h5>
              </div>
              <p>  2012 - 16 | Bachelor of Technology | Mechanical Engg. </p>
  
              <div class="d-flex align-items-center justify-content-between ap-3">
              <h5>Central Academy, Jodhpur </h5>
              <h5 style="color: #868686; font-weight: normal;">96%</h5>
              </div>
              <p>  2012 | Higher Secondary </p><br>
  
              <div class="d-flex align-items-center gap-3">
              <h3>🎖</h3>
              <h5 style="color: #4d78ff">AWARDS & ACHIEVEMENTS</h5>
            </div>
            <div class="d-flex align-items-center gap-1">
              <h5 style="color: #868686; font-weight: normal;">2018 / </h5>
              <h5>  HRRL Logo Design </h5>
              </div>
              <p>  Did identity design for HPCL Rajasthan Refinery Limited, a project worth 60,000+ crore. The identity was released by Hon’ble PM, Narendra Modi </p>
  
              <div class="d-flex align-items-center gap-1">
                <h5 style="color: #868686; font-weight: normal;">2019 / </h5>
                <h5>  Petrotech </h5>
                </div>
              <p>  HPCL stall Won 1st Runner-Up Award under category "Best Display Raw Space" at Petrotech-19, 13th International Oil & Gas Conference & Exhibition, organized by MoP&NG, GoI </p>
  
              <div class="d-flex align-items-center gap-1">
                <h5 style="color: #868686; font-weight: normal;">2018-20 / </h5>
                <h5>  Best Annual Report </h5>
                </div>
              <p>  Won Best Annual Report awards by Public Relations Society of India and SCOPE Corporate Communication Awards for three consecutive years</p>
  
              <div class="d-flex align-items-center gap-1">
                <h5 style="color: #868686; font-weight: normal;">2014 / </h5>
                <h5>  JoSH Mission </h5>
                </div>
              <p> Won first prize in a campaign design competition for Jodhpur chapter of Swachh Bharat Mission organized by District Administration</p>
  
              <div class="d-flex align-items-center gap-1">
              <h5 style="color: #868686; font-weight: normal;">2013 / </h5>
              <h5>  Mood Indigo, IIT Bombay </h5>
              </div>
              <p>Won first prize in a brand redesign contest </p>
  
              <div class="d-flex align-items-center gap-1">
              <h5 style="color: #868686; font-weight: normal;">2012 /</h5>
              <h5> CBSE State Topper </h5>
              </div>
              <p>Scored 96% in Class XII examinations </p><br>
  
              <div class="d-flex align-items-center gap-3">
              <h3>🛠</h3>
              <h5 style="color: #4d78ff">TOOLS</h5>
            </div>
              <p>  
                <b>Adobe:</b> Illustrator, Photoshop, Premiere Pro <br>
                <b>Coding:</b> Python, p5.js <br>
                <b>Web Development:</b> HTML and CSS <br>
                <b>Prototyping:</b> Figma <br>
                <b>Productivity:</b> Microsoft Suite, Google Suite, Miro, Notion
              </p>
  
  
           </div>
  
  
          </div>
        </div>
  
  
         </div>
       </div>
  
       
  
  
  
      </article>


  </main>
</body>

</html>